@import '~@angular/material/theming';
@import './component-themes';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$warn:    mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include component-themes($theme);

// Optional dark theme
.dark-theme {
  color: $light-primary-text;
  $dark-primary: mat-palette($mat-cyan);
  $dark-accent:  mat-palette($mat-teal, A400, A100, A400);
  $dark-warn:    mat-palette($mat-red);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  
  @include angular-material-theme($dark-theme);
  @include component-themes($dark-theme);
}