@import '~@angular/material/theming';

td-toolbar {
    @include mat-elevation(2);
    display: block;
}

.content {
    padding: 4rem 6px;
    display: flex;
}

aside {
    flex: 1;
}

td-dashboard {
    flex: 5;
}

@media only screen and (max-width: 600px)  {
    aside {
      flex: 0;
    }
  }